@import "tailwindcss";

@theme {
  --color-on-background: #dee5ff;
  --color-surface-bright: #1f2b49;
  --color-secondary-dim: #ccd5e4;
  --color-surface-container: #0f1930;
  --color-primary-container: #00f1fe;
  --color-on-secondary-container: #c8d1e0;
  --color-on-primary: #005f64;
  --color-primary: #99f7ff;
  --color-surface-container-low: #091328;
  --color-inverse-primary: #006a70;
  --color-primary-fixed-dim: #00e2ee;
  --color-surface-container-highest: #192540;
  --color-primary-dim: #00e2ee;
  --color-background: #060e20;
  --color-on-tertiary-fixed-variant: #4700a7;
  --color-on-error: #490006;
  --color-on-surface: #dee5ff;
  --color-primary-fixed: #00f1fe;
  --color-error: #ff716c;
  --color-inverse-surface: #faf8ff;
  --color-inverse-on-surface: #4d556b;
  --color-secondary-fixed-dim: #ccd5e4;
  --color-error-dim: #d7383b;
  --color-tertiary-fixed-dim: #b190ff;
  --color-secondary: #dae3f2;
  --color-tertiary-fixed: #bda1ff;
  --color-outline-variant: #40485d;
  --color-secondary-fixed: #dae3f2;
  --color-on-tertiary-container: #f8f1ff;
  --color-surface: #060e20;
  --color-secondary-container: #3e4754;
  --color-outline: #6d758c;
  --color-tertiary: #ac89ff;
  --color-tertiary-dim: #874cff;
  --color-surface-container-high: #141f38;
  --color-on-primary-fixed: #004145;
  --color-on-tertiary-fixed: #1f0052;
  --color-on-primary-container: #00555a;
  --color-error-container: #9f0519;
  --color-on-error-container: #ffa8a3;
  --color-on-tertiary: #290067;
  --color-surface-container-lowest: #000000;
  --color-on-secondary: #49525f;
  --color-on-primary-fixed-variant: #006065;
  --color-tertiary-container: #7000ff;
  --color-on-secondary-fixed-variant: #535c69;
  --color-surface-tint: #99f7ff;
  --color-surface-variant: #192540;
  --color-on-surface-variant: #a3aac4;
  --color-on-secondary-fixed: #37404c;
  --color-surface-dim: #060e20;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}
